<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Mechanic Garage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="pc, parts, cpu, cooler, motherboard">
    <link rel="stylesheet" href="../../static/css/sub.css">
    <link rel="stylesheet" href="../../static/css/button.css">
    <link rel="stylesheet" href="../../static/css/top.css">
    <link rel="stylesheet" href="../../static/css/04_mother.css">
  </head>
  
  <body>
    <div class="wrap" id="wrap">
      <div class="background" id="background">
        <div class="hello">
          <p class="paint_1">MOTHER BOARD</p>
          <p class="paint_2">Select the parts you want to use.</p>
        </div>

        <div class="request"  id="Search1">
          <div class="sg1"  id="Search1">
            <div class="ibox"><input type="text" placeholder="Lowest Price" id="mother_low_price"></div>
            <div class="ibox"><input type="text" placeholder="Highest Price" id="mother_high_price"></div>
          </div>
          <div class="sg2"  id="Search2">
            <select class="sbox" id="mother_socket_value">
              <option value="">Socket</option>
              {% for pro_info in info.Socket %}
                <option value="Socket:{{pro_info.Socket}}">Socket:{{pro_info.Socket}}</option>
              {% endfor %}
            </select>
            <select class="sbox" id="mother_TipSet_value">
              <option value="">TipSet</option>
              {% for pro_info in info.chipset %}
                <option value="TipSet:{{pro_info.chipset}}">TipSet:{{pro_info.chipset}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="sg3"  id="Search3">
            <select class="sbox" id="mother_form_factor_value">
              <option value="">Form Factor</option>
              {% for pro_info in info.formfactor %}
                <option value="Form Factor:{{pro_info.formfactor}}">Form Factor:{{pro_info.formfactor}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="sub">

          {% for mother in lst %}
          <button class="button" type="button" name="button" value="add" onclick="addPro(this.id);">
            <div class="card">
              <div class="hex">
                <img class="hex_image" src={{mother.image}} alt="">
              </div>
              <div class="info">
                <h1 class="name">{{mother.product_name}}</h1>
                <h3 class="price">¥{{mother.price[1][1]}}</h3>
                <h2 class="text">
                  <p>Socket:{{mother.info[0]}} TipSet:{{mother.info[1]}} Form Factor:{{mother.info[2]}}</p>
                </h2>
              </div>
            </div>
          </button>
          {% endfor %}
          
        </div>
        <p class="pagetop"><a href="#wrap">▲</a></p>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../../static/js/top.js?ver=1129"></script>
    <script src="../../static/js/mother.js?ver=2020101654"></script>
  </body>
</html>