<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Mechanic Garage</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/error.css">
  </head>
  
  <body id="body" onMouseDown="return false;" onSelectStart="return false">
    <h1>Comming soon ...</h1>
    <section class="error-container">
        <span>4</span>
        <span><span class="screen-reader-text">0</span></span>
        <span>4</span>
    </section>
    <div class="link-container">
        <a href="/index" class="more-link">Back to Home</a>
    </div>
  </body>
</html>