<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Mechanic Garage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="pc, parts, cpu, cooler, motherboard">
    <link rel="stylesheet" href="../../static/css/link.css">
    <link rel="stylesheet" href="../../static/css/favorite.css">
  </head>
  
  <body id="body">
    <div id="modal" class="modal">
        <div class="modal-content">
            <div class="modal-body" id="modalBlock"></div>
        </div>
    </div>
    <div class="wrap">
      <div class="background">
        <div class="link">
          <div class="parent">
            <div class="menu_hex home_hex"><a href="index"><div class="menu_hex_text">HOME</div></a></div>
            <div class="menu_hex parts_hex"><div class="menu_hex_text">PARTS</div></div>
            <div class="menu_hex accessory_hex"><div class="menu_hex_text">ACCESSORY</div></div>
            <div class="menu_hex user_hex"><div class="menu_hex_text">USER</div></div>
            <div class="menu_hex contact_hex"><div class="menu_hex_text">CONTACT</div></div>
          </div>

          <div class="pc1">
            <div class="menu_hex cpu_hex"><a href="01m"><div class="menu_hex_text">CPU</div></a></div>
            <div class="menu_hex cooler_hex"><a href="02m"><div class="menu_hex_text">CPU COOLER</div></a></div>
            <div class="menu_hex memory_hex"><a href="03m"><div class="menu_hex_text">MEMORY</div></a></div>
            <div class="menu_hex mother_hex"><a href="04m"><div class="menu_hex_text">MOTHER BOARD</div></a></div>
            <div class="menu_hex graphic_hex"><a href="05m"><div class="menu_hex_text">GRAPHIC BOARD</div></a></div>
          </div>
          <div class="pc2">
            <div class="menu_hex ssd_hex"><a href="06m"><div class="menu_hex_text">SSD</div></a></div>
            <div class="menu_hex hdd_hex"><a href="07m"><div class="menu_hex_text">HDD</div></a></div>
            <div class="menu_hex case_hex"><a href="08m"><div class="menu_hex_text">CASE</div></a></div>
            <div class="menu_hex fan_hex"><a href="09m"><div class="menu_hex_text">CASE FAN</div></a></div>
            <div class="menu_hex power_hex"><a href="10m"><div class="menu_hex_text">POWER SUPPLY</div></a></div>
          </div>

          <div class="ac1">
            <div class="trc_hex"></div>
            <div class="menu_hex monitor_hex"><a href="11m"><div class="menu_hex_text">MONITOR</div></a></div>
            <div class="menu_hex key_hex"><a href="12m"><div class="menu_hex_text">KEY BOARD</div></a></div>
          </div>
          <div class="ac2">
            <div class="trc_hex"></div>
            <div class="menu_hex mouse_hex"><a href="13m"><div class="menu_hex_text">MOUSE</div></a></div>
            <div class="menu_hex speaker_hex"><a href="14m"><div class="menu_hex_text">SPEAKER</div></a></div>
          </div>

          <div class="uc1">
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="menu_hex account_hex"><a href="account"><div class="menu_hex_text">ACCOUNT</div></a></div>
            <div class="menu_hex favorite_hex"><a href="favorite"><div class="menu_hex_text">FAVORITE</div></a></div>
          </div>

          <div class="cc1">
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="menu_hex member_hex"><a href="member"><div class="menu_hex_text">MEMBER</div></a></div>
          </div>

          <div class="trc1">
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
          </div>
          <div class="trc2">
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
          </div>
        </div>

        <div class="hello">
          <p class="paint_1">FAVORITE</p>
          <p class="paint_2">Here you can see a list of the products you have added to your favorites.</p>
        </div>

        <div class="favs">

          <!-- {% for fav in lst %} -->
          <div class="card">
            <!-- <div class="triangle1">
              <img class="dospara" src="../../static/images/Dicom.png">
              <img class="amazon" src="../../static/images/Aicom.png">
            </div> -->
            <!-- <div class="triangle2">
              <img class="like" src="../../static/images/like-off.png">
              <img class="liked" src="../../static/images/like-on.png">
            </div> -->
            <div class="fav_hex">
              <a href={{fav.url}}><img class="fav_hex_image" src={{fav.image}} alt=""></a>
            </div>
            <div class="info">
              <h1 class="name">{{fav.product_name}}</h1>
              <div class="display_selectedItem">
                <img class="selected_img" src="../../static/images/like-on.png">
                ¥{{fav.price}}
              </div>
              <ul class="select_box">
                <li><img src="../../static/images/like-on.png">¥{{fav.price}}</li>
                <li><img src="../../static/images/Aicom.png">¥{{fav.price}}</li>
                <li><img src="../../static/images/Dicom.png">¥{{fav.price}}</li>
              </ul>
              <h2 class="text">{{fav.info}}</h2>
            </div>
          </div>
          <!-- {% endfor %} -->

          <div class="trc_card">
            <!-- <div class="trc_triangle1"></div>
            <div class="trc_triangle2"></div> -->
            <div class="trc_fav_hex"></div>
            <div class="info">
              <h1 class="trc_name">.......... .......... ..........</h1>
              <h3 class="trc_price">¥ ... , ... , ...</h3>
              <h2 class="trc_text">.......... .......... .......... .......... .......... .......... .......... .......... .......... .......... .......... ..........</h2>
            </div>
          </div>

          <div class="trc_card">
            <!-- <div class="trc_triangle1"></div>
            <div class="trc_triangle2"></div> -->
            <div class="trc_fav_hex"></div>
            <div class="info">
              <h1 class="trc_name">.......... .......... ..........</h1>
              <h3 class="trc_price">¥ ... , ... , ...</h3>
              <h2 class="trc_text">.......... .......... .......... .......... .......... .......... .......... .......... .......... .......... .......... ..........</h2>
            </div>
          </div>

          <div class="trc_card">
            <!-- <div class="trc_triangle1"></div>
            <div class="trc_triangle2"></div> -->
            <div class="trc_fav_hex"></div>
            <div class="info">
              <h1 class="trc_name">.......... .......... ..........</h1>
              <h3 class="trc_price">¥ ... , ... , ...</h3>
              <h2 class="trc_text">.......... .......... .......... .......... .......... .......... .......... .......... .......... .......... .......... ..........</h2>
            </div>
          </div>

          <div class="trc_card">
            <!-- <div class="trc_triangle1"></div>
            <div class="trc_triangle2"></div> -->
            <div class="trc_fav_hex"></div>
            <div class="info">
              <h1 class="trc_name">.......... .......... ..........</h1>
              <h3 class="trc_price">¥ ... , ... , ...</h3>
              <h2 class="trc_text">.......... .......... .......... .......... .......... .......... .......... .......... .......... .......... .......... ..........</h2>
            </div>
          </div>
        </div>

      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../../static/js/select.js"></script>
    <script src="../../static/js/hover.js"></script>
  </body>
</html>
