<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Mechanic Garage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="pc, parts, cpu, cooler, motherboard">
    <link rel="stylesheet" href="../../static/css/link.css">
    <link rel="stylesheet" href="../../static/css/member.css">
    <link rel="stylesheet" href="../../static/css/button.css">
  </head>
  
  <body id="body">
    <div id="modal" class="modal">
        <div class="modal-content">
            <div class="modal-body" id="modalBlock"></div>
        </div>
    </div>
    <div class="wrap">
      <div class="background">

        <a class="acp" href="/login">
          <div class="acb">
            <img class="acb_img" src={{user_icom}} onerror="this.style.display='none'">
            <div class="acb_text">LOG IN</div>
          </div>
        </a>
        
        <div class="link">
          <div class="parent">
            <div class="menu_hex home_hex"><a href="index"><div class="menu_hex_text">HOME</div></a></div>
            <div class="menu_hex parts_hex"><div class="menu_hex_text">PARTS</div></div>
            <div class="menu_hex accessory_hex"><div class="menu_hex_text">ACCESSORY</div></div>
            <div class="menu_hex user_hex"><div class="menu_hex_text">USER</div></div>
            <div class="menu_hex contact_hex"><div class="menu_hex_text">CONTACT</div></div>
          </div>

          <div class="hc1">
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
          </div>
          <div class="hc2">
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
          </div>

          <div class="pc1">
            <div class="menu_hex cpu_hex"><a href="01m"><div class="menu_hex_text">CPU</div></a></div>
            <div class="menu_hex cooler_hex"><a href="02m"><div class="menu_hex_text">CPU COOLER</div></a></div>
            <div class="menu_hex memory_hex"><a href="03m"><div class="menu_hex_text">MEMORY</div></a></div>
            <div class="menu_hex mother_hex"><a href="04m"><div class="menu_hex_text">MOTHER BOARD</div></a></div>
            <div class="menu_hex graphic_hex"><a href="05m"><div class="menu_hex_text">GRAPHIC BOARD</div></a></div>
          </div>
          <div class="pc2">
            <div class="menu_hex ssd_hex"><a href="06m"><div class="menu_hex_text">SSD</div></a></div>
            <div class="menu_hex hdd_hex"><a href="07m"><div class="menu_hex_text">HDD</div></a></div>
            <div class="menu_hex case_hex"><a href="08m"><div class="menu_hex_text">CASE</div></a></div>
            <div class="menu_hex fan_hex"><a href="09m"><div class="menu_hex_text">CASE FAN</div></a></div>
            <div class="menu_hex power_hex"><a href="10m"><div class="menu_hex_text">POWER SUPPLY</div></a></div>
          </div>

          <div class="ac1">
            <div class="trc_hex"></div>
            <div class="menu_hex monitor_hex"><a href="11m"><div class="menu_hex_text">MONITOR</div></a></div>
            <div class="menu_hex key_hex"><a href="12m"><div class="menu_hex_text">KEY BOARD</div></a></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
          </div>
          <div class="ac2">
            <div class="trc_hex"></div>
            <div class="menu_hex mouse_hex"><a href="13m"><div class="menu_hex_text">MOUSE</div></a></div>
            <div class="menu_hex speaker_hex"><a href="14m"><div class="menu_hex_text">SPEAKER</div></a></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
          </div>

          <div class="uc1">
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="menu_hex account_hex"><a href="account"><div class="menu_hex_text">ACCOUNT</div></a></div>
            <div class="menu_hex favorite_hex"><a href="favorite"><div class="menu_hex_text">FAVORITE</div></a></div>
            <div class="trc_hex"></div>
          </div>
          <div class="uc2">
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
          </div>

          <div class="cc1">
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="menu_hex member_hex"><a href="member"><div class="menu_hex_text">MEMBER</div></a></div>
            <div class="trc_hex"></div>
          </div>
          <div class="cc2">
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
          </div>
        </div>

        <div class="hello">
          <p class="paint_1">MEMBER</p>
          <p class="paint_2">Meet the team that created this service.</p>
        </div>

        <div class="mems">
          <div class="mem_card NM">
            <div class="hex"><img class="hex_img" src="../../static/images/m.png"></div>
            <p class="name">Naoya Matsubara</p>
            <p class="job">Network Engineer
              <br>Project Manager
              <br>Designer
            </p>
            <a href="https://github.com/5191037"><img class="github" src="../../static/images/Gicom.png"></a>
          </div>

          <div class="mem_card TO">
            <div class="hex"><img class="hex_img" src="../../static/images/Okada.jpg"></div>
            <p class="name">Takafumi Okada</p>
            <p class="job">Network Engineer
              <br>Programmer
            </p>
            <a href="https://github.com/5191059"><img class="github" src="../../static/images/Gicom.png"></a>
          </div>

          <div class="mem_card MT">
            <div class="hex"><img class="hex_img" src="../../static/images/Tsuchiya.png"></div>
            <p class="name">Masaki Tsuchiya</p>
            <p class="job">Network Engineer
              <br>Programmer
            </p>
            <a href="https://github.com/MT-0624"><img class="github" src="../../static/images/Gicom.png"></a>
          </div>

          <div class="mem_card SY">
            <div class="hex"><img class="hex_img" src="../../static/images/Sora.png"></div>
            <p class="name">Sora Yamauchi</p>
            <p class="job">Network Engineer
              <br>Infrastructure Engineer
            </p>
            <a href="https://github.com/sorayamauti"><img class="github" src="../../static/images/Gicom.png"></a>
          </div>
        </div>

      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../../static/js/select.js"></script>
    <script src="../../static/js/hover.js"></script>
  </body>
</html>