<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Mechanic Garage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="pc, parts, cpu, cooler, motherboard">
    <link rel="stylesheet" href="../../static/css/main.css?ver=1116">
    <link rel="stylesheet" href="../../static/css/link.css">
    <link rel="stylesheet" href="../../static/css/top.css">
    <link rel="stylesheet" href="../../static/css/button.css">
    <link rel="stylesheet" href="../../static/css/02_cooler.css">
  </head>
  
  <body>
    <div class="wrap" id="wrap">
      <div class="background" id='background'>

        <a class="acp" href="/login">
          <div class="acb">
            <img class="acb_img" src={{user_icom}} onerror="this.style.display='none'">
            <div class="acb_text">LOG IN</div>
          </div>
        </a>
        
        <div class="link">
          <div class="parent">
            <div class="menu_hex home_hex"><a href="index"><div class="menu_hex_text">HOME</div></a></div>
            <div class="menu_hex parts_hex"><div class="menu_hex_text">PARTS</div></div>
            <div class="menu_hex accessory_hex"><div class="menu_hex_text">ACCESSORY</div></div>
            <div class="menu_hex user_hex"><div class="menu_hex_text">USER</div></div>
            <div class="menu_hex contact_hex"><div class="menu_hex_text">CONTACT</div></div>
          </div>

          <div class="hc1">
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
          </div>
          <div class="hc2">
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
          </div>

          <div class="pc1">
            <div class="menu_hex cpu_hex"><a href="01m"><div class="menu_hex_text">CPU</div></a></div>
            <div class="menu_hex cooler_hex"><a href="02m"><div class="menu_hex_text">CPU COOLER</div></a></div>
            <div class="menu_hex memory_hex"><a href="03m"><div class="menu_hex_text">MEMORY</div></a></div>
            <div class="menu_hex mother_hex"><a href="04m"><div class="menu_hex_text">MOTHER BOARD</div></a></div>
            <div class="menu_hex graphic_hex"><a href="05m"><div class="menu_hex_text">GRAPHIC BOARD</div></a></div>
          </div>
          <div class="pc2">
            <div class="menu_hex ssd_hex"><a href="06m"><div class="menu_hex_text">SSD</div></a></div>
            <div class="menu_hex hdd_hex"><a href="07m"><div class="menu_hex_text">HDD</div></a></div>
            <div class="menu_hex case_hex"><a href="08m"><div class="menu_hex_text">CASE</div></a></div>
            <div class="menu_hex fan_hex"><a href="09m"><div class="menu_hex_text">CASE FAN</div></a></div>
            <div class="menu_hex power_hex"><a href="10m"><div class="menu_hex_text">POWER SUPPLY</div></a></div>
          </div>

          <div class="ac1">
            <div class="trc_hex"></div>
            <div class="menu_hex monitor_hex"><a href="11m"><div class="menu_hex_text">MONITOR</div></a></div>
            <div class="menu_hex key_hex"><a href="12m"><div class="menu_hex_text">KEY BOARD</div></a></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
          </div>
          <div class="ac2">
            <div class="trc_hex"></div>
            <div class="menu_hex mouse_hex"><a href="13m"><div class="menu_hex_text">MOUSE</div></a></div>
            <div class="menu_hex speaker_hex"><a href="14m"><div class="menu_hex_text">SPEAKER</div></a></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
          </div>

          <div class="uc1">
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="menu_hex account_hex"><a href="account"><div class="menu_hex_text">ACCOUNT</div></a></div>
            <div class="menu_hex favorite_hex"><a href="favorite"><div class="menu_hex_text">FAVORITE</div></a></div>
            <div class="trc_hex"></div>
          </div>
          <div class="uc2">
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
          </div>

          <div class="cc1">
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="menu_hex member_hex"><a href="member"><div class="menu_hex_text">MEMBER</div></a></div>
            <div class="trc_hex"></div>
          </div>
          <div class="cc2">
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
            <div class="trc_hex"></div>
          </div>
        </div>

        <div class="hello">
          <p class="paint_1">CPU COOLER</p>
          <p class="paint_2">This page allows you to compare the best prices for all the cooler's on the market.
            <br>The current price comparisons will be available on Dospara and a few other sites.
          </p>
        </div>

        <div class="request">
          <div class="sg1" id="Search1">
            <div class="ibox"><input type="text" placeholder="Lowest Price" id="cooler_low_price"></div>
            <div class="ibox"><input type="text" placeholder="Highest Price" id="cooler_high_price"></div>
          </div>
          <div class="sg2" id="Search2">
            <select class="sbox" id="cooler_socket_value">
              <option value="">Socket</option>
              <option value="Socket AM3">Socket AM3</option>
              <option value="Socket AM3+">Socket AM3+</option>
              <option value="Socket AM4">Socket AM4</option>
              <option value="775">LGA775</option>
              <option value="1150">LGA1150</option>
              <option value="1151">LGA1151</option>
              <option value="1200">LGA1200</option>
              <option value="2011">LGA2011</option>
              <option value="2066">LGA2066</option>
            </select>
            <select class="sbox" id="cooler_height_value">
              <option value="">Height</option>
              {% for pro_info in info.height %}
                <option value="Height:{{pro_info.height}}">Height:{{pro_info.height}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="main" id="main">

          {% for cooler in lst %}
          <div class="card">
            {% if current_user.is_authenticated %}
            <div class="triangle2" onclick="favorite(this.id, 'coolerID', '{{client_id}}');">
              <img class="like" src="../../static/images/like-off.png">
              <img class="liked" src="../../static/images/like-on.png">
            </div>
            {% endif %}
            <div class="hex">
              <a href={{cooler.url[1]}}><img class="hex_image" src={{cooler.image}} alt=""></a>
            </div>
            <div class="info">
              <h1 class="name">{{cooler.product_name}}</h1>
              <div class="display_selectedItem" onclick="change_money(this.id);">
                <img class="selected_img" src="../../static/images/d.png">
                ¥{{cooler.price[1][1]}}
              </div>
              <ul class="select_box">
                <li><img src="../../static/images/d.png">¥{{cooler.price[1][1]}}</li>
                <li><img src="../../static/images/a.png">¥{{cooler.price[0][1]}}</li>
                <li><img src="../../static/images/k.png">¥{{cooler.price[2][1]}}</li>
                <li><img src="../../static/images/s.png">¥{{cooler.price[3][1]}}</li>
              </ul>
              <h2 class="text">
                <p>Socket:{{cooler.info[0]}}</p>
                <p>Height:{{cooler.info[1]}}</p>
              </h2>
            </div>
          </div>
          {% endfor %}

        </div>
        <p class="pagetop"><a href="#wrap">▲</a></p>
      </div>
    </div>
    {% if current_user.is_authenticated %}
    <script src="../../static/js/favorite.js?ver=20210115"></script>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../../static/js/cooler_main.js?ver=1130"></script>
    <script src="../../static/js/change.js?ver=1126"></script>
    <script src="../../static/js/top.js"></script>
    <script src="../../static/js/select.js"></script>
    <script src="../../static/js/hover.js"></script>
  </body>
</html>