/* LINK */
.mouse_hex::after { background: black; }
.mouse_hex .menu_hex_text { color: white; }
.mouse_hex:hover .menu_hex_text { color: black; }

/* REQUEST */
.ibox input[type=text] { color: gray; }
.ibox input[type=text]:focus { border-color: gray; }

input::placeholder { color: gray; }
input:-ms-input-placeholder { color: gray; }
input::-ms-input-placeholder { color: gray; }

.sbox { color: gray; }
.sbox:focus { border-color: gray; }

.ac1 { display: flex;}
.ac2 { display: flex;}