* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
  font-weight: bold;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrap {
  overflow: hidden;
}

.background {
  position: relative;
  margin: 1%;
  width: 98%;
  height: 8000px;
  background-color: rgba(240, 240, 240, 0.5);
}

/* HELLO */
.hello {
  overflow: hidden;
  position: absolute;
  top: 450px;
  left: 0;
  right: 0;
  margin: auto;
  width: 1000px;
  height: 100px;
}

.paint_1 {
  text-align: center;
  font-size: 50px;
  color: black;
}

.paint_2 {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  color: black;
}

/* REQUEST */
.request {
  position: absolute;
  top: 550px;
  left: 0;
  right: 0;
  margin: auto;
  width: 800px;
  height: 300px;
}

.sg1 {
  display: flex;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 50px;
}

.sg2 {
  display: flex;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 50px;
}

.sg3 {
  display: flex;
  position: absolute;
  top: 190px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 50px;
}

.ibox {
  position: relative;
  margin: 0 25px;
  width: 350px;
  appearance: none;
  -webkit-appearance:none
}

.ibox input[type=text] {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  outline: none;
	border: solid 2px lightgray;
  border-radius: 5px;
  font-size: 14px;
  color: black;
}

.sbox {
  position: relative;
  margin: 0 25px;
  padding: 0 20px;
  width: 350px;
  border-radius: 5px;
  border: solid 2px lightgray;
  outline: none;
  font-size: 14px;
  color: black;
  appearance: none;
  -webkit-appearance:none
}

/* CARD */
.main {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  background-color: transparent;
  top: 850px;
  left: 0;
  right: 0;
  margin: auto;
  width: 1000px;
  height: auto;
}

.card {
  overflow: hidden;
  position: relative;
  margin: 30px 20px;
  width: 210px;
  height: 450px;
  float: left;
}

.card.hidden {
  display: none;
}

.card:hover {
  background-color: white;
}

.triangle1 {
  position: absolute;
  top: 0;
  left: -2px;
  z-index: 2;
  border-bottom: solid 53px transparent;
  border-left: solid 97px lightgray;
}

.dospara {
  position: absolute;
  top: 4px;
  left: -90px;
  width: 30px;
  height: 30px;
}

.amazon {
  position: absolute;
  top: 3px;
  left: -91px;
  width: 32px;
  height: 32px;
  opacity: 0;
  cursor: pointer !important;
}

.amazon.on {
  opacity: 1;
  cursor: pointer !important;
}

.triangle2 {
  position: absolute;
  top: 177px;
  left: 113px;
  z-index: 2;
  border-bottom: solid 53px lightgray;
  border-left: solid 97px transparent;
}

.like {
  position: absolute;
  top: 16px;
  left: -38px;
  width: 35px;
  height: 35px;
}

.liked {
  position: absolute;
  top: 16px;
  left: -38px;
  width: 35px;
  height: 35px;
  opacity: 0;
  cursor: pointer !important;
}

.liked.on {
  opacity: 1;
  cursor: pointer !important;
}

.hex {
  position: relative;
  margin: 60px 6px 60px;
  width: 199px;
  height: 109px;
  text-align: center;
  z-index: 1;
}

.hex_image {
  object-fit: cover;
  object-position: center;
  display: block;
  position: absolute;
  top: -54.6px;
  left: -1px;
  width: 101%;
  height: 200%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}

.hex::before, .hex::after {
  content: '';
}

.hex::before, .hex::after {
  display: block;
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -2;
}

.hex::before {
  background: black;
  transform: scale(1.055);
}

.hex::after {
  background: white;
}

.info {
  position: relative;
  width: 210px;
  height: 220px;
}

.name {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 10px;
  width: 210px;
  height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  font-size: 15px;
  color: black;
}

.name:hover {
  white-space : nowrap;
  animation-name : scrollname;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes scrollname {
  0% { transform: translateX(0)}
  100% { transform: translateX(-100%)}
}

/* .price {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 10px;
  width: 210px;
  height: 40px;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  text-align: center;
  font-size: 12px;
  color: black;
} */

.text {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 20px;
  width: 210px;
  height: 140px;
  /* text-align: center; */
  font-size: 12px;
  font-weight: normal;
  color: black;
}

.text::-webkit-scrollbar {
  display:none;
}

/* PRICE BOX */
.display_selectedItem {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 5px 0;
  padding-left: 50px;
  width: 210px;
  height: 40px;
  line-height: 1.5;
  box-sizing: border-box;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  cursor: pointer !important;
  z-index: 2;
}

.display_selectedItem img {
  position: absolute;
  top: 3px;
  left: 3px;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.select_box {
  display: none;
  position: relative;
  width: 210px;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  background: white;
  cursor: pointer !important;
  z-index: 2;
}

.select_box li {
  overflow: hidden;
  position: relative;
  padding: 5px 0;
  padding-left: 50px;
  height: 40px;
  line-height: 1.5;
  cursor: pointer !important;
  z-index: 2;
}

.select_box li img {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  width: 30px;
  height: 30px;
}